{:site-title "incise"
 :author "Ryan McGowan"
 :in-dir "website/content"
 :out-dir "website/public"
 :stefon {:asset-roots ["website/assets"]
          :manifest-file "website/manifest.json"
          :precompiles ["vm/javascripts/vm.js.stefon"
                        "incise.css.stefon"]}
 :log-level :info
 :parse-defaults {:transformers [:incise-layout :html-header-anchors]}
 :uri-root "incise"
 :deploy {:workflow :git-branch}}
