@font-face{font-family:'TeX Gyre Heros';font-style:normal;font-weight:400;src:local('TeXGyreHeros-Regular'),url(//brick.a.ssl.fastly.net/fonts/texgyreheros/400.woff) format('woff');}@font-face{font-family:'TeX Gyre Heros';font-style:italic;font-weight:400;src:local('TeXGyreHeros-Italic'),url(//brick.a.ssl.fastly.net/fonts/texgyreheros/400i.woff) format('woff');}@font-face{font-family:'TeX Gyre Heros';font-style:normal;font-weight:700;src:local('TeXGyreHeros-Bold'),url(//brick.a.ssl.fastly.net/fonts/texgyreheros/700.woff) format('woff');}@font-face{font-family:'TeX Gyre Heros';font-style:italic;font-weight:700;src:local('TeXGyreHeros-BoldItalic'),url(//brick.a.ssl.fastly.net/fonts/texgyreheros/700i.woff) format('woff');}@font-face{font-family:'Raleway';font-style:normal;font-weight:200;src:local('Raleway Thin'),url(//brick.a.ssl.fastly.net/fonts/raleway/200.woff) format('woff');}@font-face{font-family:'Raleway';font-style:normal;font-weight:300;src:local('Raleway Light'),url(//brick.a.ssl.fastly.net/fonts/raleway/300.woff) format('woff');}@font-face{font-family:'Raleway';font-style:italic;font-weight:200;src:local('Raleway Thin Italic'),url(//brick.a.ssl.fastly.net/fonts/raleway/200i.woff) format('woff');}@font-face{font-family:'Raleway';font-style:italic;font-weight:300;src:local('Raleway Light Italic'),url(//brick.a.ssl.fastly.net/fonts/raleway/300i.woff) format('woff');}.mbtn{position:relative;color:#25bff6;text-align:center;text-shadow:0 2px 0 #0782ae;padding-bottom:2px;text-decoration:none;}.mbtn:visited{color:#25bff6;}
.mbtn:visited:hover,.mbtn:hover,.mbtn:focus,.mbtn:active{color:#0ab5f2;text-decoration:none;}
.mbtn:active{top:2px;text-shadow:none;}
pre{background:#002b36;}pre code{display:block;color:#839496;}
pre .clojure .title{color:#839496;}
pre .comment,pre .template_comment,pre .diff .header,pre .doctype,pre .pi,pre .lisp .string,pre .javadoc{color:#586e75;font-style:italic;}
pre .keyword,pre .clojure .attribute,pre .winutils,pre .method,pre .addition,pre .css .tag,pre .request,pre .status,pre .nginx .title{color:#859900;}
pre .number,pre .command,pre .string,pre .tag .value,pre .phpdoc,pre .tex .formula,pre .regexp,pre .hexcolor{color:#2aa198;}
pre .title,pre .localvars,pre .chunk,pre .decorator,pre .built_in,pre .identifier,pre .literal,pre .id{color:#268bd2;}
pre .attribute,pre .variable,pre .lisp .body,pre .smalltalk .number,pre .constant,pre .class .title,pre .parent,pre .haskell .type{color:#b58900;}
pre .preprocessor,pre .preprocessor .keyword,pre .shebang,pre .symbol,pre .symbol .string,pre .diff .change,pre .special,pre .attr_selector,pre .important,pre .subst,pre .cdata{color:#cb4b16;}
pre .collection,pre .deletion{color:#dc322f;}
pre .tex .formula{background:#073642;}
.incise-generated-tag{width:1em;margin-left:-1em;display:block;float:left;text-decoration:none;color:#cccccc;}.incise-generated-tag::after{content:"#";font-weight:700;}
.incise-generated-tag:link,.incise-generated-tag:visited{color:#cccccc;}
.incise-generated-tag:hover,.incise-generated-tag:active{color:#333333;}
header .incise-generated-tag,footer .incise-generated-tag{display:none;}
body .gist .gist-file{font-family:monospace;}body .gist .gist-file .gist-data .line-pre{font-family:monospace;}
html{height:100%;width:100%;}
blockquote{margin:0;}
body{background:#f2f2f2;background:radial-gradient(circle, #ffffff, #ededed);color:#222222;}
html,button,input,select,textarea,.pure-g [class*="pure-u"]{font:400 13pt / 1.3em 'TeX Gyre Heros',Helvetica,Arial,sans-serif;}
#content{overflow-y:hidden;}
h1,h2,h3,h4,h5,h6,.tag-line,footer{font-family:'Raleway',Times,serif;font-weight:300;}
header>p,footer>p,article>p,header>h1,footer>h1,article>h1,header>h2,footer>h2,article>h2,header>h3,footer>h3,article>h3,header>h4,footer>h4,article>h4,header>h5,footer>h5,article>h5,header>h6,footer>h6,article>h6,header>blockquote,footer>blockquote,article>blockquote,header>ul,footer>ul,article>ul,header>ol,footer>ol,article>ol,header>span,footer>span,article>span{margin-left:30px;margin-right:30px;}
header blockquote,footer blockquote,article blockquote{margin-top:0.5em;margin-bottom:0.5em;padding:0.5em 30px;font-size:1em;font-family:'Raleway',Times,serif;font-weight:300;border-left:4px solid #cccccc;}header blockquote p,footer blockquote p,article blockquote p{margin-left:0;margin-right:0;}header blockquote p:last-child,footer blockquote p:last-child,article blockquote p:last-child{margin-bottom:0;}
header>p,footer>p,article>p,header>h1,footer>h1,article>h1,header>h2,footer>h2,article>h2,header>h3,footer>h3,article>h3,header>h4,footer>h4,article>h4,header>h5,footer>h5,article>h5,header>h6,footer>h6,article>h6,header>blockquote,footer>blockquote,article>blockquote,header>ul,footer>ul,article>ul,header>ol,footer>ol,article>ol,header>span,footer>span,article>span{margin-left:30px;margin-right:30px;}
header blockquote,footer blockquote,article blockquote{margin-top:0.5em;margin-bottom:0.5em;padding:0.5em 30px;font-size:1em;font-family:'Raleway',Times,serif;font-weight:300;border-left:4px solid #cccccc;}header blockquote p,footer blockquote p,article blockquote p{margin-left:0;margin-right:0;}header blockquote p:last-child,footer blockquote p:last-child,article blockquote p:last-child{margin-bottom:0;}
article,footer .content{max-width:620px;margin:0 auto;}
header{padding-bottom:.8em;}
h1,h2,h3,h4,h5,h6{line-height:1em;}
h1,h2{margin:2em 0 .666em;}
h3,h4{margin:1.2em 0 .6em;}
h5,h6{margin:1em 0 .3em;}
img{padding:0;margin:0;}
h2{font-size:1.5em;}
h3{font-size:1.4em;}
h4{font-size:1.3em;}
h5{font-size:1.2em;}
h6{font-size:1.1em;}
#credit{text-align:center;font-size:.8em;color:#6f6f6f;text-shadow:none;margin:0 auto;padding:5em 0;}
pre,code{font-family:monospace;}
p>code{word-wrap:break-word;}
ul,ol{margin:.6em 0 1.2em;padding:0 0 0 2.8em;}ul ul,ol ul,ul ol,ol ol{margin:0;padding:0 0 0 1.4em;}
hr{border:0;height:1px;background-color:#e4e4e4;margin:2em 0 1.75em;}
p{margin:0 0 .5em;}
article{color:#222222;text-shadow:1px 1px 0 white;}article a{color:#066f95;}article a:hover{color:#0782ae;}
article a:visited{color:#7a4d99;}
article a:active{color:#055d7d;}
article h1,article h2,article h3,article h4,article h5,article h6,article .tag-line{color:#080808;}
article a{color:#066f95;}article a:hover{color:#0782ae;}
article a:visited{color:#7a4d99;}
article a:active{color:#055d7d;}
article h1,article h2,article h3,article h4,article h5,article h6,article .tag-line{color:#080808;}
article>pre{border-radius:3px;box-shadow:inset 0 0 0.8em rgba(15, 15, 15, 0.87),0 0 0.4em rgba(24, 24, 24, 0.34);border:3px solid #586e75;font-size:11pt;padding:0.4em;text-shadow:none;overflow-x:auto;white-space:pre;word-wrap:normal;}article>pre code{padding:0.2em 0.4em;zoom:1;}article>pre code:before{content:'';display:block;}
article>pre code:after{content:'';display:table;clear:both;}
article>pre code:before{content:'';display:block;}
article>pre code:after{content:'';display:table;clear:both;}
article h1:first-child{padding:1em 30px 0.5em;margin:0;line-height:1.4em;}
article>img,article>p>img{max-width:100%;display:block;margin:0;}
header a[title="Build Status"]{top:126px;margin-left:-53px;position:absolute;}
header{max-width:620px;margin:0 auto;}
h1:first-child{margin-top:1.5em;}
ul.nav{padding:0;margin-bottom:0;color:#222222;text-shadow:1px 1px 0 white;list-style:none;zoom:1;}ul.nav a{color:#066f95;}ul.nav a:hover{color:#0782ae;}
ul.nav a:visited{color:#7a4d99;}
ul.nav a:active{color:#055d7d;}
ul.nav h1,ul.nav h2,ul.nav h3,ul.nav h4,ul.nav h5,ul.nav h6,ul.nav .tag-line{color:#080808;}
ul.nav a{color:#066f95;}ul.nav a:hover{color:#0782ae;}
ul.nav a:visited{color:#7a4d99;}
ul.nav a:active{color:#055d7d;}
ul.nav h1,ul.nav h2,ul.nav h3,ul.nav h4,ul.nav h5,ul.nav h6,ul.nav .tag-line{color:#080808;}
ul.nav li{font-weigth:700;float:left;}
ul.nav li+li::before{content:"|";margin:0 0.5em;}
ul.nav:before{content:'';display:block;}
ul.nav:after{content:'';display:table;clear:both;}
ul.nav:before{content:'';display:block;}
ul.nav:after{content:'';display:table;clear:both;}
